div {
  display: block;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  border-bottom: 1px solid #fafbfc;
}

img {
  width: 50%;
}
