<div class="about">
    <h1>За мен</h1>
    <p>
        <i>"Никога не се отказвай да работиш.<br>
            Работата ти дава смисъл и цел, защото без нея животът е празен.<br>
            Стивън Хокинг"</i>
    <p class="u-text u-text-2"> Казвам се Жан Тодоров и съм професионален фотограф.<br>
        Голямата ми слабост е евент фотографията във всичките и разновидности.<br>
        Когато не снимам, разглеждам работите на любимите ми фотографи.<br>
        За мен фотографията е щуро пътуване свързано с емоции и луд купон.<br>
        Обичам също да създавам художествени снимки и
        портретни фотографии,<br>
        които да сложите в рамка и да споделите с приятели и близки.<br>
        За да запечатам вашите истории, съм избрал да се доверя на най-добрите<br>
        професионални фотоапарати и обективи на Канон.<br>
        В сайта може да научите повече за моята работа.<br>
        Ще се радвам да участвам в заснемането на вашата история.
    </p>
</div>
<div>
<img src="assets/img/jan.jpg">
</div>