<div class="container-upload">
    <form #form="ngForm" class="admin" action="" method="POST" autocomplete="off">
        <ng-container>
            <div class="flex">
                <div class="flex">
                    <p>Име на албума: <input #albumNameInput="ngModel" ngModel type="text" name="albumName" id="albumName">
                    </p>
                </div>
                <form class="admin" method="POST">
                    <input (change)="handleSelectImages($event.target)" type="file" id="images" name="images" multiple>
                </form>
                <div class="flex">
                    <p>Категория:
                        <select #albumCategoryInput="ngModel" ngModel name="category" id="category" class="admin">
                            <option value="Event">Събития</option>
                            <option value="Weddings">Сватби</option>
                            <option value="Portrait">Портрети</option>
                            <option value="Kids">Деца</option>
                            <option value="Vintage">Винтидж</option>
                            <option value="Nature">Природа</option>
                            <option value="Animals">Животни</option>
                            <option value="Flowers">Растения</option>
                            <option value="Bw">Черно &amp; Бяло</option>
                        </select>
                    </p>
                </div>
                <button type="button" class="r-button">Отхвърли</button>
                <button class="g-button" (click)="uploadAlbums(form)">Запази</button>
            </div>
        </ng-container>
    </form>
</div>

<!-- Container for the image gallery -->
<div class="container">
    <div class="row">
        <div *ngFor="let img of files" class="column">
            <img class="demo cursor" src={{img}} style="width:100%" alt="The Woods">
        </div>
    </div>
</div>