ul.errors {
    color: red;
  }

  form.login, form.register, form.admin {
    width: 40%;
    margin: 2em auto 0;
    text-align: center;
  }
  /* errors  */
  
  p.error {
    text-align: left;
    border-radius: 0.3em;
    color: red;
    padding-top: 0;
  }
  
  .input-error {
    border-left-color: red;
  }

  * {
    box-sizing: border-box;
  }
