form.login, form.register, form.admin {
  width: 40%;
  margin: 2em auto 0;
  text-align: center;
}

/* errors  */

p.error {
  text-align: left;
  border-radius: 0.3em;
  color: red;
  padding-top: 0;
}

.input-error {
  border-left-color: red;
}

* {
  box-sizing: border-box;
}

.btn {
  background-color: #04aa8e;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
  margin: 10px;
}
