<div class="footer-basic">
    <footer>
        <div class="social">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <a href="https://www.instagram.com/jantodorov/" class="fa fa-instagram" target="_blank">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100000501595428" class="fa fa-facebook" target="_blank">
            </a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/home">Начало</a></li>
            <li class="list-inline-item"><a href="/about">За мен</a></li>
            <li class="list-inline-item"><a href="/contacts">Контакти</a></li>
            <li class="list-inline-item"><a href="/portfolio">Портфолио</a></li>
        </ul>
        <p class="copyright">&copy; Jan Todorov: Професионален фотограф. &#174; Всички права запазени! Изображенията, поместени на този уебсайт, са собственост на Жан Тодоров.</p>
    </footer>
</div>
