<form [formGroup]="form" class="register" style=" text-align: center;" (ngSubmit)="registerHandler()">
  <h1>Регистрация</h1>
    <div class="form-group">
      <label for="email" style="margin: 47px;">Email:</label>
      <input type="text" name="email" id="email" formControlName="email" placeholder="john@gmail.com" required email>
      <ul *ngIf="form.get('email')!.invalid && form.get('email')!.touched">
        <p style="color: red;" *ngIf="form.get('email')!.errors?.required">Email is required</p>
        <p style="color: red;" *ngIf="form.get('email')!.errors?.email">Email is invalid</p>
      </ul>
    </div>
    <div class="form-group">
      <label for="password" style="margin: 32px;">Password:</label>
      <input type="password" name="password" id="password" formControlName="password" placeholder="******">
      <ul *ngIf="form.get('password')!.invalid && form.get('password')!.touched">
        <p style="color: red;" *ngIf="form.get('password')!.errors?.required">Password is required</p>
        <p style="color: red;" *ngIf="form.get('password')!.errors?.minlength">Password should be more than 6 characters</p>
      </ul>
    </div>
    <div class="form-group">
      <label for="repeat-password" style="margin: 5px;">Repeat password:</label>
      <input type="password" name="repeatPassword" id="repeat-password" formControlName="repeatPassword" placeholder="******">
      <ul *ngIf="form.get('repeatPassword')!.invalid && form.get('repeatPassword')!.touched">
        <p style="color: red;" *ngIf="form.get('repeatPassword')!.errors?.required">Repeat password is required</p>
        <p style="color: red;" *ngIf="form.get('repeatPassword')!.errors?.minlength">Repeat password should be more than 6 characters
        </p>
        <p style="color: red;" *ngIf="form.get('repeatPassword')!.errors?.sameValue">Password and repeat password don't match. Password
          value:
          {{form.get('repeatPassword')!.errors!.sameValue.password}} and repeat password value is: Password value:
          {{form.get('repeatPassword')!.errors!.sameValue.repeatPassword}}
        </p>
      </ul>
    </div>
    <button class="btn" style="margin: 20px; background-color: #04AA6D; color: white;">Регистрация</button>
  </form>
