div .container{
    display: block;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
}
img.resize {
    height: 600px; 
    width: 600px; 
    max-width: 800px; 
    max-height: 800px;
}