<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo" href="/"><img src="assets/img/logo.png"></span></p>
    </div>
    <div class="mini-navbar">
      <ul *ngIf="!isLogged">
        <li>
          <a href="login">Вход</a>
        </li>
        <li>
          <a href="register">Регистрация</a>
        </li>
      </ul>
      <ul *ngIf="isLogged">
        <!-- <li href="/profile">{{...}}'s profile</li> -->
        <li> 
        <a (click)="logout()">Изход</a>
        </li>
      </ul>
    </div>
  </div>
  <nav>
    <ul *ngIf="!isLogged">
      <li>
        <a href="">Начало</a>
      </li>
      <li>
        <a href="/about">За мен</a>
      </li>
      <li>
        <a href="/contacts">Контакти</a>
      </li>
      <li>
        <a href="/portfolio">Портфолио</a>
      </li>
    </ul>
    <ul *ngIf="isLogged">
      <li>
        <a href="">Начало</a>
      </li>
      <li>
        <a href="/about">За мен</a>
      </li>
      <li>
        <a href="/contacts">Контакти</a>
      </li>
      <li>
        <a href="/comments">Коментари</a>
      </li>
      <li>
        <a href="/gallery">Галерия</a>
      </li>
      <li>
        <a href="/portfolio">Портфолио</a>
      </li>
      <li *ngIf="isAdmin">
        <a href="/admin">Админ</a>
      </li>
    </ul>
  </nav>
</header>