<head>
  <meta charset="UTF-8">
  <title>Works</title>

  <link rel='shortcut icon' type='image/x-icon' href='' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
        <img src="assets/img/logo.png">
        <li>
          <a href="" style="padding: 10px;">Начало</a>
        </li>
        <li>
          <a href="/about" style="padding: 10px;">За мен</a>
        </li>
        <li>
          <a href="/contacts" style="padding: 10px;">Контакти</a>
        </li>
        <li>
          <a href="/gallery" style="padding: 10px;">Галерия</a>
        </li>
        <li>
          <a href="/register" style="padding: 10px;">Регистрация</a>
        </li>
        <li>
          <a href="/portfolio" style="padding: 10px;">Портфолио</a>
        </li>
        <li>
          <a href="/comments" style="padding: 10px;">Коментари</a>
        </li>
        <li>
          <a href="/login" style="padding: 10px;">Вход</a>
        </li>
      </ul>
    </header>
    <!-- <main>
      {{#if error}}
      <span class="error">{{error}}</span>
      {{/if}}
      {{{body}}}
    </main> -->
  </div>
</body>