<form #form="ngForm" class="login" method="post" (ngSubmit)="loginHandler(form)" autocomplete="off">
  <h1>Вход</h1>
  <div class="form-group">
    <p class="field field-icon">
      <label for="email" style="margin-right: 25px;"><b>Email:</b></label>
      <input #emailInput="ngModel" ngModel type="email" name="email" id="email" placeholder="john@gmail.com" required
        email>
    </p>
    <ng-container *ngIf="err && !emailInput.errors?.invalidEmail && !emailInput.errors?.required">
      <p class="error">
        {{err}}
      </p>
    </ng-container>
    <ng-container *ngIf="emailInput.touched">
      <p *ngIf="emailInput.errors?.required" class="error">
        Email е задължителен!
      </p>
      <p *ngIf="emailInput.errors?.invalidEmail" class="error">
        Невалиден email!
      </p>
    </ng-container>
  </div>
  <div class="form-group">
    <p class="field field-icon">
      <label style="margin-right: 10px;" for="psw"><b>Парола:</b></label>
      <input #passwordInput="ngModel" ngModel type="password" name="password" id="password" placeholder="******"
        [minlength]="6" required>
    </p>
    <ng-container *ngIf="passwordInput.touched">
      <p *ngIf="passwordInput.errors?.required" class="error">
        Паролата е задължителна!
      </p>
      <p *ngIf="passwordInput.errors?.minlength" class="error">
        Паролата трябва да бъде най-малко 6 символа!
      </p>
    </ng-container>
  </div>

  <button (click)="loginHandler(form)" class="btn">Вход</button>

  <p class="text-center">
    Нямате акаунт?
    <a routerLink="/register">Регистрация</a>
  </p>
</form>
