<form #form="ngForm" (ngSubmit)="uploadComment(form)">
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" #descriptionInput="ngModel" ngModel required
            [maxlength]="250">
        <ul *ngIf="descriptionInput.invalid && descriptionInput.touched" class="errors">
            <li *ngIf="descriptionInput.errors?.required">Description is required</li>
            <li *ngIf="descriptionInput.errors?.minlength">Description should be less than 250 characters</li>
        </ul>
    </div>
    <button>Submit</button>
</form>

<div *ngFor="let comment of comments">
    <div class="email">{{comment.email}}</div>
    <div class="comments">{{comment.description}}</div>
</div>